<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Phone Mouse Controller</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <div class="container">

        <h1>Phone Mouse Controller</h1>

        <button id="moveButton">
            Send Move Event
        </button>

        <button id="clickButton">
            Send Click Event
        </button>

        <button id="ScrollButton">
            Send Scroll Event
        </button>

    </div>

    <script src="{{ url_for('static',
                            filename='js/controller.js') }}">
    </script>

</body>

</html>