<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>WebSocket Mouse Controller</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
                           filename='css/style.css') }}">

</head>

<body>

    <div class="container">

        <h1>WebSocket Controller</h1>

        <button id="moveButton">
            Send Move Event
        </button>

    </div>


    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js">
    </script>

    <script src="{{ url_for('static',
                            filename='js/controller.js') }}">
    </script>

</body>

</html>